# List of use statements needed in various Fortran modules.
equality_use_statements = [
  "use bmad_struct",
  # "use tao_struct",
]
test_use_statements = ["use bmad_json", "use sim_utils_json", "use tao_json"]

struct_list = [
  "spline_struct",
  "spin_polar_struct",
  "ac_kicker_time_struct",
  "ac_kicker_freq_struct",
  "ac_kicker_struct",
  "interval1_coef_struct",
  "photon_reflect_table_struct",
  "photon_reflect_surface_struct",
  "coord_struct",
  "coord_array_struct",
  "bpm_phase_coupling_struct",
  "expression_atom_struct",
  "wake_sr_z_long_struct",
  "wake_sr_mode_struct",
  "wake_sr_struct",
  "wake_lr_mode_struct",
  "wake_lr_struct",
  "lat_ele_loc_struct",
  "wake_struct",
  "taylor_term_struct",
  # "taylor",
  "taylor_struct",
  "em_taylor_term_struct",
  "em_taylor_struct",
  "cartesian_map_term1_struct",
  "cartesian_map_term_struct",
  "cartesian_map_struct",
  "cylindrical_map_term1_struct",
  "cylindrical_map_term_struct",
  "cylindrical_map_struct",
  "bicubic_cmplx_coef_struct",
  "tricubic_cmplx_coef_struct",
  "grid_field_pt1_struct",
  "grid_field_pt_struct",
  "grid_field_struct",
  "floor_position_struct",
  "high_energy_space_charge_struct",
  "xy_disp_struct",
  "twiss_struct",
  "mode3_struct",
  "bookkeeping_state_struct",
  "rad_map_struct",
  "rad_map_ele_struct",
  "gen_grad1_struct",
  "gen_grad_map_struct",
  "surface_segmented_pt_struct",
  "surface_segmented_struct",
  "surface_h_misalign_pt_struct",
  "surface_h_misalign_struct",
  "surface_displacement_pt_struct",
  "surface_displacement_struct",
  "target_point_struct",
  "surface_curvature_struct",
  "photon_target_struct",
  "photon_material_struct",
  "pixel_pt_struct",
  "pixel_detec_struct",
  "photon_element_struct",
  "wall3d_vertex_struct",
  "wall3d_section_struct",
  "wall3d_struct",
  "ramper_lord_struct",
  "control_struct",
  "control_var1_struct",
  "control_ramp1_struct",
  "controller_struct",
  "ellipse_beam_init_struct",
  "kv_beam_init_struct",
  "grid_beam_init_struct",
  "beam_init_struct",
  "lat_param_struct",
  "mode_info_struct",
  "pre_tracker_struct",
  "anormal_mode_struct",
  "linac_normal_mode_struct",
  "normal_modes_struct",
  "em_field_struct",
  "strong_beam_struct",
  "track_point_struct",
  "track_struct",
  "space_charge_common_struct",
  "bmad_common_struct",
  "rad_int1_struct",
  "rad_int_branch_struct",
  "rad_int_all_ele_struct",
  "rf_stair_step_struct",
  "rf_ele_struct",
  "ele_struct",
  "complex_taylor_term_struct",
  "complex_taylor_struct",
  "branch_struct",
  "lat_struct",
  "bunch_struct",
  "bunch_params_struct",
  "beam_struct",
  "aperture_point_struct",
  "aperture_param_struct",
  "aperture_scan_struct",
  # Some new ones:
  "ele_pointer_struct",
  "expression_tree_struct",
  "nametable_struct",

  # sim_utils
  # "qp_axis_struct",
  # "qp_plot_struct",
  # "qp_rect_struct",
  # "qp_state_struct",

  # Tao
  "tao_spin_dn_dpz_struct",
  # "probe_8",
  # "c_normal_form",
  # "c_taylor",
  # "c_quaternion",
  # "internal_state",
  "resonance_h_struct",
  "spin_orbit_map1_struct",
  "spin_axis_struct",
  "ptc_normal_form_struct",
  "bmad_normal_form_struct",
  "bunch_track_struct",
  "summation_rdt_struct",
  "tao_ele_shape_struct",
  "tao_ele_pointer_struct",
  "tao_curve_struct",
  "tao_curve_color_struct",
  "tao_curve_orbit_struct",
  "tao_histogram_struct",

  "lat_ele_order1_struct",
  "lat_ele_order_array_struct",
  "tao_lat_sigma_struct",
  "tao_spin_ele_struct",
  "tao_plot_cache_struct",
  "tao_spin_polarization_struct",
  "tao_lattice_branch_struct",
  "tao_model_element_struct",
  "tao_beam_branch_struct",
  "tao_d1_data_struct",
  "tao_d2_data_struct",
  "tao_data_var_component_struct",
  "tao_graph_struct",
  "tao_plot_struct",
  "tao_plot_region_struct",
  "tao_universe_pointer_struct",
  "tao_super_universe_struct",
  "tao_var_struct",
  "tao_var_slave_struct",

  "tao_lattice_struct",
  "tao_beam_uni_struct",
  "tao_dynamic_aperture_struct",
  "tao_model_branch_struct",
  "tao_spin_map_struct",
  "tao_data_struct",
  "tao_ping_scale_struct",
  "tao_universe_calc_struct",
  "lat_ele_order_struct",

  # plot page
  "tao_title_struct",
  "qp_rect_struct",
  "tao_drawing_struct",
  "tao_shape_pattern_struct",
  "tao_shape_pattern_point_struct",

  # quickplot
  "qp_axis_struct",
  "qp_legend_struct",
  "qp_point_struct",
  "qp_line_struct",
  "qp_symbol_struct",
  "tao_floor_plan_struct",

  # superuniverse
  "tao_v1_var_struct",
  "tao_global_struct",
  "tao_init_struct",
  "tao_common_struct",
  "tao_plot_page_struct",
  "tao_building_wall_struct",

  "tao_building_wall_orientation_struct",
  "tao_building_wall_section_struct",
  "tao_building_wall_point_struct",

  "tao_wave_struct",
  "tao_wave_kick_pt_struct",
  "tao_cmd_history_struct",

  "tao_universe_struct",

  # mad
  "mad_energy_struct",
  "mad_map_struct",

  # Testing
  "all_encompassing_struct",
  "test_sub_struct",
  "test_sub_sub_struct",
]

# List of structure components to not translate.
# Can specify these using the syntax:
#   <component_struct_name>        or
#   <struct>%<component_name>

component_no_translate_list = [
  # NOTE: 'ptc' may be required for taylor map info (polymorphic tracking)
  "fibre",
  "layout",
  "ptc_branch1_info_struct",
  "branch_struct%ptc",
  # end PTC
  # forest
  "probe_8",
  "c_normal_form",
  "c_taylor",
  "c_quaternion",
  "internal_state",
  # end forest
  "exact_bend_multipole_struct",
  "ele_struct%converter",        # Should be simple data? Check this
  "ele_struct%multipole_cache",
  "ele_struct%foil",
  "lat_struct%nametable",
  "normal_form_struct",
  # This is merely a reference to lat_struct%branch(0). Avoid copying unnecessarily.
  # "lat_struct%ele",
  # TODO: this copies information unnecessarily; we need a reference type
  # "branch_struct%lat",
  # "ele_struct%lord",
  # "ele_struct%branch",
  # TODO: we need some sort workaround for grid field data:
  # "grid_field_pt_struct%pt",
  # tao
  # "tao_data_struct%data_type",  # TODO: 0D_ALLOC_character
  # TODO parent ref
  # "tao_lattice_branch_struct%tao_lat",
  # "tao_d1_data_struct%d2",
  "tao_lattice_struct%u",
  # TODO test pattern debugging
  # "tao_d1_data_struct%d",
  # end tao
]

# List of structure components links:
# Structure components that are just links to other structures are handled differently.
#   1) Ignore in Fortran and C++ equality tests (could go around in circles).
#   2) Do not create a test pattern in interface test code.

interface_ignore_list = [
  # "ele_struct%branch",
  # "branch_struct%lat",
  # TODO pointers in the test suite
  # "tao_universe_struct%base",
  # "tao_universe_struct%model",
  # "tao_universe_struct%design",
  # "tao_universe_struct%model_branch",
]

# List of structure components that are structures and are defined externally.
# There are no such structures for the cpp_bmad_interface library but there
# are for the cpp_tao_interface library.

structs_defined_externally = []

include_header_files = ['#include "bmad_enums.hpp"', '#include "bmad/types.h"']

skips = [
  "xraylib",
  "xraylib_dummy",
  "fortran_tao_evaluate_expression_old",

  # Optionally compiled in
  "fft_interface_mod",
  # JSON-related
  "tao_json",
  "bmad_json",
  "forest_json",
  "sim_utils_json",

  # Abstract hooks
  "check_aperture_limit_custom_def",
  "distance_to_aperture_custom_def",
  "ele_geometry_hook_def",
  "init_custom_def",
  "lat_make_mat6_hook_def",
  "make_mat6_custom_def",
  "radiation_integrals_custom_def",
  "time_runge_kutta_periodic_kick_hook_def",
  "track1_bunch_hook_def",
  "track1_custom_def",
  "track1_postprocess_def",
  "track1_preprocess_def",
  "track1_spin_custom_def",
  "track1_wake_hook_def",
  "track_many_hook_def",
  "wall_hit_handler_custom_def",
  "em_field_custom_def",

  # pointer handling
  "deallocate_ele_array_pointers",
  "transfer_wall3d",
  "unlink_fieldmap",
  "allocate_element_array",
  "pointer_to_ele_multipole",
  "unlink_wall3d",

  # array size handling?
  "ccfftam",
  "sfft",

  # sim_utils
  "node_put",

  # taylor1(:) +- taylor2(:) -> taylor3(size(taylor1))
  "taylor_plus_taylor",
  "taylor_minus_taylor",

  # No longer compiled in, but still in the interface?
  "bmad_and_xsif_parser",
  "aml_parser",
  "xsif_parser",

  # string array handling bug
  "set_tune_via_group_knobs",
  "spin_concat_linear_maps",

  # sim_utils:
  # sized output
  "ed",
  "han",

  # why bother? (and because they don't compile...)
  "isatty",
  "substr",
  "str_set",
  "int_logic", # return value gets renamed -> lookup fails -> makes inout

  # Tao
  # Output size based on input size:
  "avv",
  "tao_geo_lm_func",

  # TODO: string handling (excite_zero)
  "tao_spin_polarization_calc",
  "tao_spin_matrix_calc",

  # Tao hook functions
  "tao_hook_branch_calc_def",
  "tao_hook_command_def",
  "tao_hook_curve_s_pt_def",
  "tao_hook_data_sanity_check_def",
  "tao_hook_draw_floor_plan_def",
  "tao_hook_draw_graph_def",
  "tao_hook_evaluate_a_datum_def",
  "tao_hook_graph_postsetup_def",
  "tao_hook_graph_setup_def",
  "tao_hook_init1_def",
  "tao_hook_init2_def",
  "tao_hook_init_beam_def",
  "tao_hook_init_data_def",
  "tao_hook_init_global_def",
  "tao_hook_init_lattice_post_parse_def",
  "tao_hook_init_plotting_def",
  "tao_hook_init_read_lattice_info_def",
  "tao_hook_init_var_def",
  "tao_hook_lattice_calc_def",
  "tao_hook_merit_data_def",
  "tao_hook_merit_var_def",
  "tao_hook_optimizer_def",
  "tao_hook_parse_command_args_def",
  "tao_hook_plot_setup_def",
  "tao_hook_post_process_data_def",
  "tao_hook_show_cmd_def",
]

# Translations on C++ side to avoid clash with reserved words
[c_side_name_translation]
"wake_sr_struct%long" = "long_wake"
"wake_sr_struct%trans" = "trans_wake"
"template" = "template_"
"switch" = "switch_"
"default" = "default_"
"int" = "int_"
"char" = "char_"
"float" = "float_"
"double" = "double_"
"const" = "const_"

[c_to_python_name_translation]
"global" = "global_"
