site_name: pybmad
# repo_url: https://github.com/ken-lauer/pybmad
# repo_name: ken-lauer/pybmad
docs_dir: source

nav:
  - Home: api.md

theme:
  icon:
    repo: fontawesome/brands/github
  name: readthedocs

  # custom_dir: docs/overrides
  features:
    - navigation.top
    - navigation.tabs
    - navigation.indexes

markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  # The following are for mathjax rendering of LaTeX formulas:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js

extra:
  generator: false
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/ken-lauer/pybmad
      name: pybmad

extra_css:
  - stylesheets/extra.css

plugins:
  - search

  # - mkdocs-jupyter:
  #     include_source: True

  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          filters:
            - "!^_" # exclude all members starting with _
            - "^__init__$" # but always include __init__ modules and methods
          docstring_style: numpy
          docstring_options:
            ignore_init_summary: false
          heading_level: 3
          show_root_heading: true
          show_root_toc_entry: true
          show_root_full_path: true
          show_root_members_full_path: false
          show_object_full_path: true
          show_category_heading: true
          show_if_no_docstring: false
          show_signature: true
          signature_crossrefs: true
          show_signature_annotations: false
          separate_signature: true
          line_length: 100
          merge_init_into_class: true
          show_source: true
          show_bases: true
          show_submodules: false
          group_by_category: true
          unwrap_annotated: true
          extra:
            import:
              - https://docs.python.org/3/objects.inv
          rendering:
            show_source: true
            show_root_heading: true
